.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text);
  transition: all 0.3s;
  cursor: pointer;
  width: fit-content;
  max-width: 12rem;
}

.buttonPrimary {
  padding: 0.3rem 1rem;
  background: var(--color-accent);
  border-radius: 0.375rem;
  min-height: 2.3rem;
}

.buttonSecondary {
  color: var(--color-accent);
}

.buttonPrimary:hover {
  background: var(--color-hover);
  color: var(--color-dark);
}

.buttonSecondary:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.buttonPrimary:disabled {
  color: var(--color-dark);
  background: var(--color-gray);
}

.buttonSecondary:disabled,
.buttonSecondary:disabled .text {
  color: var(--color-gray);
  opacity: 0.5;
}

.text {
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
