.loader {
  --size: 80px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 auto;
  border: calc(var(--size) / 8) solid var(--color-gray);
  border-top: calc(var(--size) / 8) solid var(--color-accent);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  animation: spin 1s linear infinite;
  z-index: 100;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
