.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.authNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonsWrapper {
  position: relative;
  min-width: 200px;
  min-height: 40px;
}
