@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local(''),
    url('../src/assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('../src/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('../src/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-light: #fafafa;
  --color-dark: #2a2d3d;
  --color-gray: #cdcdcd;
  --color-text: #b0a8b9;
  --color-accent: #2c73d2;
  --color-hover: #0aa0ff;
  --color-error: #e31445;
  --color-bg: #4b4453;

  --error-border: 2px solid var(--color-error);
  --input-border: 2px solid var(--color-accent);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover);
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-text);
  background-color: var(--color-bg);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

#root > main {
  flex: 1 1 auto;
  padding-top: 5rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
}
